/* ----------- FONTS ----------- */
@font-face {
    font-family: Europe-400;
    src: url("../fonts/EuropeNormal.eot");
    src: url("../fonts/EuropeNormal.eot?#iefix") format("embedded-opentype"),
    url("../fonts/EuropeNormal.woff2") format("woff2"),
    url("../fonts/EuropeNormal.woff") format("woff"), 
    url("../fonts/EuropeNormal.ttf") format("truetype"), 
    url("../fonts/EuropeNormal.svg#OpenSans-Bold") format("svg");
  }
  
  html, body {
    height: 100%;
    overflow: hidden; }
  
  body {
    font-family: Arial;
    font-size: 12px; }
  
  a {
    text-decoration: none;
    color: #fff; }
  
  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto; }
  
  .title {
    font-size: 72px;
    font-family: "Europe-400"; }
  
  .logo {
    display: flex;
    justify-content: start;
    align-items: center; }
  
  .connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
    .connect__link {
      font-family: "Europe-400";
      font-size: 18px;
      color: #eb5017; }
      .connect__link:hover {
        color: #eb5017;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      .connect__link:active {
        color: #eb5017; }
  
  .menu {
    margin-top: 21px;
    margin-bottom: 14px;
    background: #231f20;
    display: flex;
    justify-content: center;
    align-items: center; }
    .menu__item {
      padding: 14px 35px;
      border-right: 1px solid #eb5017; }
      .menu__item:hover {
        background: #eb5017; }
      .menu__item:last-child {
        border-right: none; }
    .menu__link {
      font-family: Arial;
      font-size: 14px; }
      .menu__link:hover {
        color: #fff; }
      .menu__link:active {
        color: #000; }
  
  @media screen and (max-width: 992px) {
    .menu {
      flex-direction: column; }
      .menu__item {
        text-align: center;
        width: 100%;
        padding: 14px 0;
        border: none;
        border-bottom: 1px solid #eb5017; }
        .menu__item:last-child {
          border-bottom: none; } }
  
  .breadcrumb {
    margin-bottom: 23px;
    font-family: Arial;
    font-size: 12px;
    list-style: none;
    display: flex;
    padding-left: 0px; }
    .breadcrumb-item > a {
      color: #231f20;
      text-decoration: underline; }
    .breadcrumb-item.active {
      text-decoration: none; }
  
  .breadcrumb-item + .breadcrumb-item::before {
    padding-right: .3em;
    content: var(--bs-breadcrumb-divider, "-"); }
  
  .breadcrumb-item + .breadcrumb-item {
    padding-left: .3em; }
  
  .calc {
    margin-bottom: 86px;
    max-width: 650px;
    width: 100%;
    font-family: Arial;
    font-size: 12px;
    background: #f2f2f2;
    padding: 15px;
    padding-top: 19px;
    padding-bottom: 33px; }
    .calc .form table {
      margin-bottom: 36px; }
    .calc .form table td > div {
      height: 100%;
      margin-bottom: 18px; }
    .calc .form__title {
      margin-left: 91px;
      margin-bottom: 23px;
      font-size: 30px;
      color: #eb5017; }
    .calc .form__text {
      margin: 0;
      margin-right: 25px;
      text-align: end;
      color: #000; }

    .calc .form__slider {
      width: 238px;
      background: #000;
      border-radius: 100px;
      border: 1px solid #fff;
      height: 9px;
    }

    .calc .form__slider .ui-slider-range {
      background: #7ba129;
      border: 1px solid #000;
    }

    .calc .form__slider .ui-state-default {
      height: 7px;
      width: 7px;
      top: 0;
      border-radius: 100px;
    }

    .calc .slider__wrap {
      display: flex;
      justify-content: space-between;
      font-family: Verdana;
      font-style: italic;
      font-size: 10px;
      color: #676767;
    }

    .calc .slider__text {
      margin: 0;
    }

    .calc .form__input {
      max-width: 88px;
      width: 100%;
      border: 1px solid #cfd1d2; }
    .calc .form__radio {
      display: flex;
      align-items: center; }
      .calc .form__radio input {
        margin-right: 5px; }
    .calc .result {
      display: flex;
      align-items: center; }
      .calc .result__button {
        margin-right: 23px;
        color: #395306;
        padding: 9px 13px;
        padding-top: 7px;
        border: 1px solid #f0ff35;
        border-radius: 7px;
        background: linear-gradient(180deg, #bff535, #7ec600); }
        .calc .result__button:hover {
          background: #bff535; }
        .calc .result__button:active {
          background: #7ec600; }
      .calc .result__text {
        margin: 0;
        margin-right: 6px;
        font-weight: bold;
        color: #395306; }
      .calc .result__res-num {
        margin: 0;
      }
  
  .footer {
    max-width: inherit;
    width: 100%;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
    background: #231f20; }
    .footer .footer-menu {
      display: flex;
      flex-wrap: wrap; }
      .footer .footer-menu__item {
        margin-right: 26px;
        margin-bottom: 10px; }
        .footer .footer-menu__item:last-child {
          margin-right: 0; }
      .footer .footer-menu__link {
        text-decoration: underline; }
  
  @media screen and (max-width: 576px) {
    .footer-menu {
      flex-wrap: nowrap;
      flex-direction: column; } }
  
  