.breadcrumb {
    margin-bottom: 23px;
    font-family: Arial;
    font-size: 12px;
    list-style: none;
    display: flex;
    padding-left: 0px;

    &-item>a {
        color: #231f20;
        text-decoration: underline;
    }

    &-item.active {
        text-decoration: none;
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: .3em;
    content: var(--bs-breadcrumb-divider, "-");
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .3em;
}
