.calc {
    margin-bottom: 86px;
    max-width: 650px;
    width: 100%;
    font-family: Arial;
    font-size: 12px;
    background: #f2f2f2;
    padding: 15px;
    padding-top: 19px;
    padding-bottom: 33px;    
    
    .form {
        table {
            margin-bottom: 36px;
        }

        table td>div {
            height: 100%;
            margin-bottom: 18px;
        }
        &__title {
            margin-left: 91px;
            margin-bottom: 23px;
            font-size: 30px;
            color: #eb5017;
        }
        &__text {
            margin: 0;
            margin-right: 25px;
            text-align: end;
            color: #000;
        }
        &__slider {
            font-family: Verdana;
            text-transform: italic;
            font-size: 10px;
            color: #676767;
        }
        &__input {
            max-width: 88px;
            width: 100%;
            border: 1px solid #cfd1d2;
        }
        &__radio {
            display: flex;
            align-items: center;

            & input {
                margin-right: 5px;
            }
        }
    }

    .result {
        display: flex;
        align-items: center;

        &__button {
            margin-right: 23px;
            color: #395306;
            padding: 9px 13px;
            padding-top: 7px;
            border: 1px solid #f0ff35;
            border-radius: 7px;
            background: linear-gradient(180deg, #bff535, #7ec600);
            
            &:hover {
                background: #bff535;
            }
            &:active {
                background: #7ec600;
            }
        }
        &__text {
            margin: 0;
            margin-right: 6px;
            font-weight: bold;
            color: #395306;
        }
        &__res-num {

        }
    }
}

