.footer {
    max-width: inherit;
    width: 100%;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
    background: #231f20;

    .footer-menu {
        display: flex;
        flex-wrap: wrap;

        &__item {
            margin-right: 26px;
            margin-bottom: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__link {
            text-decoration: underline;
            
            &:hover {

            }
            &:active {

            }
        }
    }
}

@include xs {
    .footer-menu {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}