.logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    &__item {
        
    }

    &__link {
        font-family: $E-400;
        font-size: 18px;
        color: #eb5017;

        &:hover {
            color: #eb5017;
            text-shadow: 0 0 10px rgba(0,0,0,0.5);
        }

        &:active {
            color: #eb5017;
        }
    }
}

.menu {
    margin-top: 21px;
    margin-bottom: 14px;
    background: #231f20;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__item {
        padding: 14px 35px;
        border-right: 1px solid #eb5017;

        &:hover {
            background: #eb5017;
        }

        &:last-child {
            border-right: none;
        }
    }

    &__link {
        font-family: Arial;
        font-size: 14px;

        &:hover {
            color: #fff;
        }

        &:active {
            color: #000;
        }
    }
}

@include md {
    .menu {
        flex-direction: column;

        &__item {
            text-align: center;
            width: 100%;
            padding: 14px 0;
            border: none;
            border-bottom: 1px solid #eb5017;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}