@mixin font($font-name, $font-family) {
    @font-face {
        font-family: #{$font-family};
        src: url('../fonts/#{$font-name}.eot');
        src: url('../fonts/#{$font-name}.eot?#iefix') format('embedded-opentype'),
            url('../fonts/#{$font-name}.woff2') format('woff2'),
            url('../fonts/#{$font-name}.woff') format('woff'),
            url('../fonts/#{$font-name}.ttf') format('truetype'),
            url('../fonts/#{$font-name}.svg#OpenSans-Bold') format('svg');
    }
}

// В миксин переменные ставятся в КАВЫЧКАХ
/* ----------- FONTS ----------- */

@include font(EuropeNormal, Europe-400);

$E-400: 'Europe-400';