html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.title {
    font-size: 72px;
    font-family: $E-400;
}

@mixin lg {
    @media screen and (max-width: 1200px) { @content; }
}
@mixin md {
    @media screen and (max-width: 992px) { @content; }
}
@mixin sm {
    @media screen and (max-width: 768px) { @content; }
}
@mixin xs {
   @media screen and (max-width: 576px) { @content; }
}